main {
    width: 1200px;
    margin: auto;
    background-color: cadetblue;
    height: 100vh;
}
section {
    height:50%;
    outline: 1px solid black;
}
section h1, div{
    display: flex;
    justify-content: center;
    align-items: center;
}
section h1 {
    height:300px;
}
img {
    width: 397px;
    height: 100%;
    display: inline-block;
    margin: none;
}