body {
    width: 1200px;
    margin: auto;
    background-color: aliceblue;
}
form {
    margin-top: 100px;
}
div {
    border: 1px solid black;
    padding: 10px;
}
label {
    position:relative;
    top:7px;
    left:20px;
    background-color: aliceblue;
  }