.orange {
    width: 100%;
    background-color: orange;
    height: 8vh;
    margin-bottom: 5px;
}
.green {
    width: 100%;
    background-color: greenyellow;
    height: 24vh;
    margin-bottom: 5px;
}
.blue {
    width: 100%;
    background-color:blue;
    height: 15vh;
    margin-bottom: 5px;
}
.grey {
    width: 100%;
    background-color: grey;
    height: 8vh;
    margin-bottom: 5px;
}
@media screen and (min-width:768px) {
    .grey, .grey-hidden {
        width: 49%;
        background-color: grey;
        height: 8vh;
        margin-bottom: 5px;
    }
    .con4 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}
@media screen and (min-width:1024px) {
    .orange {
        width: 49.5%;
    }
    .con1 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .blue {
        width: 33%;
    }
    .con3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .grey, .grey-hidden {
        width: 24.5%;
    }
}